html, body{
    height: 100%;
    // background: #808080;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: #C9D6FF;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
* Main Content
*/
#main-container {
    padding-top: 20px;
}
#map-container {
    width: 100%;
    min-height: 73vh;
    padding: 0.2rem;
}
about-container {
    background-color: azure;
}
#myTabContent {
    background-color:white;
    border-radius: 4px;
}
/*
* Cards
*/
#showDataCard{
    width: 100%;
    margin-bottom: 1%;
    overflow-x: auto;
    background-color:whitesmoke;
}
/*
* About Page
*/ 
.jumbo-about {
    color: azure;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.7);
}

/*
* Navigation bar
*/
#showTime, #showDate {
    font-size: 16px;
    padding-right: 1rem;
    color: yellow;
}
.nav-item:hover {
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 3px;
}
.nav-link > a:hover {
    color:black;
}
#myTab>.nav-link:hover{
    background-color: whitesmoke;
}
.icon-question-sign{
    width: 16px;
    height: 16px;
}
